pytest
httpx
prefect
beautifulsoup4
pytest-asyncio
boto3
requests  # Slack webhook calls in summariser_flow
black
ruff
pre-commit
psycopg[binary]
streamlit
pandas
streamlit-authenticator
altair
mypy
coverage
fastapi
uvicorn
